
/* GENERAL STUFF */

body {
  background-image: url("../images/loginbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #110b0b;

  margin: 0px;
  padding: 0px;

  font-family: 'NTR', sans-serif;
  font-size: 24pt;
  line-height: 200%;
  color: white;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input, textarea, select, button {

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;

}

input, textarea {
  background-color: #ffffff55;
  border-style: none;
}

label {
  clear: both;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}


/* LOGIN PAGE  */

.login_header {
  background-color: #ffffff33;
  text-align: right;
}

ul.header_list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #00000000;
}

ul.header_list li {
  float: right;
  padding-right: 1rem;
}

ul.header_list li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

ul.header_list li a:hover {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #ffffff33;
}

.footer {
  grid-area: footer;
  background-color: #ffffff33;
  margin-top: 1px;
  text-align: center;
}

.floating_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff33;

  margin-top: 1px;
  text-align: center;
}

.login_layout {
  /* Center */
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Appearance */
  padding: 30px;
  text-align: center;

  width: 350px;
  height: 500px;

}

.login_panel {
  /* Appearance */
  background-color: #ffffff33;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
  line-height: normal;
}

.login_logotext {
  font-weight: bold;
  font-size: 48pt;
}

.login_form {
  font-size: 12pt;
}


/* HELP PAGE */

.help_layout {
  display: grid;
  grid-template-areas:  "help_header help_header"
                        "help_sidebar help_body"
                        "footer footer";
  width: 100%;
}

.help_header {
  grid-area: help_header;
  background-color: #ffffff33;
  text-align: right;
}

.help_sidebar {
  grid-area: help_sidebar;
  background-color: #ffffff33;
  padding: 1rem;
  margin-top: 1px;
}

.help_sidebar ul {
  margin: 0px;
  padding: 0px;
}

.help_sidebar li {
  list-style-type: none;
}

.help_sidebar li.active {
  list-style-type: none;
  color: white;
  background-color: #ffffff33;
}

.help_sidebar li:hover {
  color: white;
  background-color: #ffffff33;
}

.help_body {
  grid-area: help_body;
  padding: 1rem;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #ffffff33;
}

.help_body ol li p {
  margin-top: 0px;
}

.help_column {
  min-width: 500px;
  width: 60%;
}

/* MAIN PAGE */

.layout {
  display: grid;
  grid-template-areas: "board_name main_header"
                       "controls controls"
                       "board_container board_container"
                       "footer footer";
  grid-template-rows: auto auto 1fr;
  height: 100vh;
}

.board_name {
  grid-area: board_name;
  padding-left: 1rem;
  background-color: #ffffff33;
}

.main_header {
  grid-area: main_header;
  background-color: #ffffff33;
}

/* DROP DOWN CONTROL MENU */

.controls {
  grid-area: controls;
  margin-top: 1px;
  background-color: #ffffff33;
}

.controls ul.control_list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.controls ul.control_list li {
  float: left;
  padding-left: 1rem;
}

.board_container {
  grid-area: board_container;
  position: relative;
  margin: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #000011dd;
  overflow: hidden;
}

div.board {
  position: relative;
  top: 0px;
  left: 200px;

  background-color: red;

  /* background-color:#269; */
  /* background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px */
}

.card {
  position: absolute;
  background-image: url("../images/card.jpg");
  color: #333;
  text-align: center;
  width: 500px;
  height: 300px;
}

svg {
  position: absolute;
}

svg line {
  stroke:rgb(255,0,0);
  stroke-width:2
}

.pin {
  position: absolute;
  background-image: url("../images/pin.png");
  background-size: cover;
  width: 50px;
  height: 50px;

}

#a {
  top:0px;
  left:0px;
}

#b {
  top: 350px;
  left: 550px;
}

#c {
  top: 175px;
  left: 250px;
}

#d {
  top: 135px;
  left: 220px;
}

#e {
  top: 485px;
  left: 770px;
}
